{% extends 'base.html.twig' %}

{% block title %}New Companies{% endblock %}

{% block body %}
    <h1>Send resume</h1>

    {{ include('companies/_form.html.twig') }}

    <a href="{{ path('companies_index') }}">back to list</a>
{% endblock %}
